{% extends 'newsletter/base.html' %}

{% block content %}
    <div class="col-12">
        <form method="post" class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary w-100 mt-4" type="submit">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <b><p class="text-danger">Если у вас еще нет сообщений для рассылки, можете создать их или
                    изменить существующие</p></b>
                <a href="{% url 'newsletter:message_create' %}" class="btn btn-success">Создать
                    сообщение</a>
                <a href="{% url 'newsletter:message_list' %}" class="btn btn-secondary">Список сообщений</a>
            </div>
        </div>
        <div class="row mt-4 text-center">
            <div class="col-12">
                <b><p class="text-danger text-center">Добавить клиентов можно здесь</p></b>
                <a href="{% url 'newsletter:client_create' %}" class="btn btn-success">Добавить клиента</a>
            </div>
        </div>
    </div>



{% endblock %}